<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">

    <!-- <div class="brand-logo img" align="center"> -->
    <img src="assets/images/banner/cintillo-fona-carabobo.jpg" class="d-none d-sm-none d-md-block banner-fona"
      alt="banner" width="100%"  height="20%"/>
    <!-- </div>  -->

    <!-- /Left Text-->
    <!-- Login-->
    <div class="d-flex col-lg-12 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h1 class="card-title font-weight-bold mb-1 text-primary" align="center">
          <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
          <strong>{{ coreConfig.app.appName }}</strong>
        </h1>
        <!-- </a> -->
        <p class="card-text mb-8" align="center">Sistema de Registro y Control de Sujetos Pasivos</p>



        <form (ngSubmit)="(HWForm.form.valid)" #HWForm="ngForm">
          <form #accountDetailsForm="ngForm">
            <div class="row">
              <div class="form-group col-md-6">
                <label class="form-label" for="TipoRif">Tipo de RIF</label>
                <ng-select [items]="SelectCedula"  bindLabel="name" placeholder="Seleccione Tipo de RIF"
                [(ngModel)]="tipoDocumento"  required
                name="TipoRif" id="TipoRif"
          #Estado="ngModel" [ngModelOptions]="{standalone: true}"
          [class.error]="!Estado.valid && accountDetailsForm.submitted"  
          autocomplete="off"
                ></ng-select>
                <span *ngIf="accountDetailsForm.submitted && Estado.invalid" class="invalid-form">
                  <small class="form-text text-danger" *ngIf="Estado.errors.required">Tipo RIF requerido!</small>
                </span>
              </div>
              <div class="form-group col-md-6">
                <label class="form-label" for="rif">Numero de RIF</label>
                <input [(ngModel)]="UsersRegister.Codigo" #RIf="ngModel" required type="number" name="rif"
                  id="rif" class="form-control" [class.error]="!RIf.valid && accountDetailsForm.submitted"
                  placeholder="Ingrese RIF" />
                <span *ngIf="accountDetailsForm.submitted && RIf.invalid" class="invalid-form">
                  <small class="form-text text-danger" *ngIf="RIf.errors.required">Numero de RIF es
                    requerido!</small>
                </span>
              </div>

              <div class="form-group col-md-6">
                <label class="form-label" for="NombreEmpresa">Nombre Empresa</label>
                <input [(ngModel)]="UsersRegister.Nombres" #NombreEmpresa="ngModel" required type="text" name="NombreEmpresa"
                  id="NombreEmpresa" class="form-control" [class.error]="!NombreEmpresa.valid && accountDetailsForm.submitted"
                  placeholder="Ingrese Nombre Empresa" />
                <span *ngIf="accountDetailsForm.submitted && NombreEmpresa.invalid" class="invalid-form">
                  <small class="form-text text-danger" *ngIf="NombreEmpresa.errors.required">Nombre Empresa es
                    requerido!</small>
                </span>
              </div>

                <div class="form-group col-md-2">
                  <label class="form-label" for="TipoDocumento">Seleccion Tipo de Documento</label>
                  <ng-select [items]="SelectDocumentoCedula"  bindLabel="name" placeholder="Seleccione Tipo de Documento"
                  [(ngModel)]="tipoDocumentoCedula"  required
                  name="TipoDocumento" id="TipoDocumento"
            #TipoDocumento="ngModel"
            [class.error]="!TipoDocumento.valid && accountDetailsForm.submitted"  
            autocomplete="off"
                  ></ng-select>
                  <span *ngIf="accountDetailsForm.submitted && TipoDocumento.invalid" class="invalid-form">
                    <small class="form-text text-danger" *ngIf="TipoDocumento.errors.required">Tipo RIF requerido!</small>
                  </span>
                </div>

                <div class="col-md-4 col-12">
                  <div class="form-group">
                    <label class="form-label" for="CedulaRepresentante">Cedula Representante Legal</label>
                    <input  type="number" [(ngModel)]="UsersRegister.Cedula"
                      #Apellidos="ngModel"  required name="CedulaRepresentante" id="CedulaRepresentante"
                      [class.error]="!Apellidos.valid && accountDetailsForm.submitted" class="form-control"
                      placeholder="Ingrese Cedula Representante Legal (EJ: 12345657)" />
                    <span *ngIf="accountDetailsForm.submitted && Apellidos.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="Apellidos.errors.required">Cedula es requerido!</small>
                    </span>
                  </div>
                </div>

                

                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label class="form-label" for="TelefonoLocal">Teléfono Local</label>
                    <input  type="text" mask="(0000) 000 00 00" [(ngModel)]="UsersRegister.TelefonoLocal"
                     #TelefonoLocal="ngModel"
                      name="TelefonoLocal" id="TelefonoLocal" required
                      [class.error]="!TelefonoLocal.valid && accountDetailsForm.submitted" class="form-control"
                      placeholder="Ingrese Telefono Local" />
                     <span *ngIf="accountDetailsForm.submitted && TelefonoLocal.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="TelefonoLocal.errors.required">Telefono Local es
                        requerido!</small>
                    </span> 
                  </div>
                </div>

                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label class="form-label" for="TelefonoCelular">Teléfono Celular</label>
                    <input required  name="TelefonoCelular" mask="(0000) 000 00 00"  id="TelefonoCelular" type="text" [(ngModel)]="UsersRegister.TelefonoCelular"
                       #TelefonoCelular="ngModel"
                      [class.error]="!TelefonoCelular.valid && accountDetailsForm.submitted" class="form-control"
                      placeholder="Ingrese Telefono Celular" />
                    <span *ngIf="accountDetailsForm.submitted && TelefonoCelular.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="TelefonoCelular.errors.required">Telefono Celular es
                        requerido!</small>
                    </span>
                  </div>
                </div>


                <div class="col-md-6 col-12">
                  <label class="form-label" for="email">Correo Electronico</label>
                  <input [(ngModel)]="UsersRegister.CorreoPrincipal" #TDEmailRef="ngModel" required email type="email" name="email"
                    id="email" class="form-control"
                    [class.error]="!TDEmailRef.valid && accountDetailsForm.submitted"
                    placeholder="john.doe@email.com" aria-label="john.doe" />
                  <span *ngIf="accountDetailsForm.submitted" class="invalid-form">
                    <small class="form-text text-danger" *ngIf="!TDEmailRef.valid">El Correo Electronico debe ser valido!</small>
                  </span>
                </div>


                <div class="col-md-6 col-12">
                  <div class="form-group">
                    <label class="form-label" for="email">Correo Electronico Secundario</label>
                    <input required email type="email" [(ngModel)]="UsersRegister.CorreoSecundario"
                      [ngModelOptions]="{standalone: true}" class="form-control"
                      placeholder="Ingrese Correo Electronico Secundario" />
                  </div>
                </div>


             <div class="col-md-6 col-12">
              <div class="form-group">
                <label class="form-label" for="password">Contraseña de Usuario</label>
                <input required name="password" id="password" type="text" [(ngModel)]="UsersRegister.Clave"
                   #Clave="ngModel"
                  [class.error]="!Clave.valid && accountDetailsForm.submitted" class="form-control"
                  placeholder="Ingrese Contraseña" />
                <span *ngIf="accountDetailsForm.submitted && Clave.invalid" class="invalid-form">
                  <small class="form-text text-danger" *ngIf="Clave.errors.required">Contraseña de Usuario es
                    requerido!</small>
                </span>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label class="form-label"  for="passwordConfirm">Confirme Contraseña de Usuario</label>
                <input required  name="passwordConfirm"  id="passwordConfirm" type="text" [(ngModel)]="confirmeContrasenaUsuario"
                   #ConfirmePassword="ngModel"
                  [class.error]="!ConfirmePassword.valid && accountDetailsForm.submitted" class="form-control"
                  placeholder="Ingrese Confirmacion de Contraseña" />
                <span *ngIf="accountDetailsForm.submitted && ConfirmePassword.invalid" class="invalid-form">
                  <small class="form-text text-danger" *ngIf="ConfirmePassword.errors.required">Confirmar la Contraseña
                    es requerido!</small>
                </span>
              </div>
            </div>


              <div class="col-12" align="center">
                <!-- {{accountDetailsForm.form.valid}} -->
                <button type="submit" [disabled]="!accountDetailsForm.form.valid" (click)="registerTaxpayer()" rippleEffect
                  class="btn btn-success mr-1">Registrarse</button>
                <button routerLink="/" rippleEffect class="btn btn-outline-secondary">Regresar</button>
              </div>

              </div>
          </form>
        </form>




        <app-footer></app-footer>

      </div>
    </div>

    <!-- /Login-->
  </div>
</div>