<div class="divider my-2">
  <div class="divider-text">Contáctanos</div>
</div>
<div class="auth-footer-btn d-flex justify-content-center">
  <a class="btn btn-facebook" href="https://www.facebook.com/FONAoficial/" target="new"><i
      data-feather="facebook"></i></a><a class="btn btn-twitter white" href="https://twitter.com/FONA_oficial"
    target="new"><i data-feather="twitter"></i></a>
</div>
<br>
<div class="auth-footer-btn d-flex justify-content-center">
  <div class="d-none d-lg-flex col-lg-12 justify-content-center">
    <p class="text-center mt-2">
      <small align="center">
        <strong> Fondo Nacional Antidrogas - Rif: G-20009057-0 </strong>
        <br>
        Dirección: Av. Francisco de Miranda, Edif. Centro Empresarial Metropolitano de Automoviles 407, PB. Oficina
        FONA, Los Ruices (al lado del INCES)
        <br>
        E-mail: <a href="mailto:recaudacion_fona@fona.gob.ve">recaudacion_fona@fona.gob.ve</a> - <a
          href="mailto:soportepago3432@gmail.com">soportepago3432@gmail.com</a>
        <br>
        Telf: <a href="Tel:02122329541">0212-2329541 / 2697 / 5522 </a> Ext: 8270-8271
      </small>
      <br>
      <small
        title="Build: {{ fechafinal | date: 'fullDate':'':'es' }} a las {{ fechafinal | date: 'h:mm a':'':'es' }}">Versión
        {{Version}}</small>
    </p>
  </div>
</div>