.loading-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
    position: absolute;
    top: 60px; /* Ajusta la posición debajo del encabezado */
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 999; /* Asegura que esté por encima del datatable */
  }
  
  .spinner-border {
    width: 3rem;
    height: 3rem;
    margin: 0;
  }
  
  .loading-message {
    margin-top: 10px;
  }
  