<div class="card content-wrapper container-xxl p-0">
    <div class="card-body">
  
  
  <section class="users-list-wrapper">
  
      <div class="card">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center"
                >Mostrar
                <select class="form-control mx-25" [(ngModel)]="selectedOption">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                Registros</label
              >
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
              <label class="d-flex align-items-center ml-1 ml-md-0"
                >Buscar:<input
                  [(ngModel)]="searchValue"
                  name="searchValue"
                  type="search"
                  class="form-control ml-25"
                  placeholder="Ingrese Usuario"
                  (keyup)="filterUpdate($event)"
                  (search)="filterUpdate($event)"
              /></label>
            </div>
          </div>
        </div>
        <ngx-datatable
          [rows]="rowsUsuariosInactivos"
          rowHeight="auto"
          class="bootstrap core-bootstrap"
          [limit]="selectedOption"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          [footerHeight]="50"
          [scrollbarH]="true"
        >

  
        <ngx-datatable-column name="Nombres"   [width]="50">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div>
              {{row.Nombres}}   {{row.Apellidos}}
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Cedula"   [width]="50">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <div>
              {{row.Cedula}} 
            </div>
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Usuario" prop="Codigo"  [width]="50">
            <ng-template let-Codigo="value" ngx-datatable-cell-template>
              <div>
                <span class="font-weight-bold"> {{ Codigo }} </span>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Correo Electronico" prop="CorreoPrincipal"  [width]="20">
            <ng-template let-CorreoPrincipal="value" ngx-datatable-cell-template>
              <div>
                <span class="font-weight-bold"> {{ CorreoPrincipal }} </span>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <!-- <ngx-datatable-column name="Status" prop="Estatus"  [width]="20">
            <ng-template let-Estatus="value" ngx-datatable-cell-template>
              <div>
                <span class="font-weight-bold"> {{ Estatus == '1' ? 'Activo' : 'Inactivo' }} </span>
              </div>
            </ng-template>
          </ngx-datatable-column> -->
            
  
          <ngx-datatable-column name="Acción" [width]="10" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <button type="button" class="btn btn-sm btn-primary"  (click)="ActivarUsuario(row)" rippleEffect>
                <span [data-feather]="'eye'" [class]="'mr-25'"></span></button>&nbsp;
                <a href="http://www.cne.gob.ve/web/registro_electoral/ce.php?nacionalidad={{row.Cedula.substr(0,1)}}&cedula={{row.Cedula.substr(1)}}" target="_blank" title="CNE" class="btn btn-sm btn-warning" rippleEffect>
                 CNE</a>&nbsp;
                  <a href="http://contribuyente.seniat.gob.ve/BuscaRif/BuscaRif.jsp" target="_blank" class="btn btn-sm btn-warning" title="SENIAT" rippleEffect>
                   SENIAT</a>
            </ng-template>
          </ngx-datatable-column>
    
  
        </ngx-datatable>
      </div>
    </section>
  
  
    </div>
    </div>