
  <div class="auth-wrapper auth-v2">
    <div class="auth-inner row m-0">
    
      
      <div class="misc-inner d-none d-lg-flex col-lg-6 align-items-center p-5" 
        style='width:100%;
        height:100%;
        background-image: url("assets/images/background/background.jpeg");
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center center;'
        >
        <div class="w-100 text-center">
          <h1 class="mb-1 drop"><strong><font color="#ffffff">FONDO NACIONAL ANTIDROGAS</font></strong></h1>
          <img
          class="img-fluid drop"
          [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/logos/fona.png'
              : 'assets/images/logos/fona.png'
          "
          alt="Login"
          width="300px"
        />
          <h2 class="mb-1 drop"><strong><font color="#ffffff">Validación de Certificados ✅</font></strong></h2>
          <p class="mb-3 drop"><font color="#ffffff">Ingrese el codigo QR del certificado.</font></p>
          <form class="form-inline justify-content-center row m-0 mb-2" action="javascript:void(0);">
            <input
              class="form-control col-12 col-md-5 mb-1 mr-md-2"
              id="notify-email"
              type="text"
              autocomplete="off"
              [(ngModel)]="Qr"
              [ngModelOptions]="{standalone: true, required: true}"
              placeholder="Ingrese el numero del certificado"
            />
            <button class="btn btn-primary mb-1 btn-sm-block" type="submit" (click)="Certificado(Qr)" rippleEffect>Verificar</button>
          </form>
        </div>
      </div>
      
      <!-- /Left Text-->
      <!-- Login-->
      <div class="d-flex col-lg-6 align-items-center auth-bg px-2 p-lg-5">
        <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
          <!-- <a class="brand-logo" href="/" align="center"> -->
            <h1 class="card-title font-weight-bold mb-1 text-primary" align="center">
              <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
              <strong>{{ coreConfig.app.appName }}</strong></h1>
          <!-- </a> -->
          <p class="card-text mb-2" align="center">Sistema de Registro y Control de Sujetos Pasivos</p>

          <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
            <div class="alert-body">
              <p>{{ error }}</p>
            </div>
          </ngb-alert>

          <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
              <label class="form-label" for="login-email">Usuario</label>
              <input type="text" [(ngModel)]="usuario" [ngModelOptions]="{standalone: true, required: true}"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                placeholder="Nombre de Usuario" aria-describedby="login-email" autofocus="" tabindex="1"
                autocomplete="false" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Usuario es requerido</div>
                <!-- <div *ngIf="f.email.errors.email">Email must be a valid email address</div> -->
              </div>
            </div>
            <div class="form-group">
              <div class="d-flex justify-content-between">
                <label for="login-password">Constraseña</label><a
                  routerLink="/forgot-password"><small>Recuperar Contraseña?</small></a>
              </div>
              <div class="input-group input-group-merge form-password-toggle">
                <input [type]="passwordTextType ? 'text' : 'password'" [(ngModel)]="clave"
                  [ngModelOptions]="{standalone: true, required: true}" class="form-control form-control-merge"
                  [ngClass]="{ 'is-invalid error': submitted && f.password.errors }" placeholder="············"
                  aria-describedby="login-password" tabindex="2" autocomplete="false" />
                <div class="input-group-append">
                  <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }" (click)="togglePasswordTextType()"></i></span>
                </div>
              </div>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback"
                [ngClass]="{ 'd-block': submitted && f.password.errors }">
                <div *ngIf="f.password.errors.required">Contraseña es requerida</div>
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" id="remember-me" type="checkbox" tabindex="3" />
                <label class="custom-control-label" for="remember-me"> Recuérdame</label>
              </div>
            </div>
            <button [disabled]="loading" class="btn btn-primary btn-block" tabindex="4" rippleEffect>
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Iniciar Sesión Administrador
            </button>
          </form>
          <app-footer></app-footer>
        </div>
      </div>
      <!-- /Login-->
    </div>
  </div>
