<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo-->
    <!-- <a class="brand-logo" href="javascript:void(0);">
      <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
      <h2 class="brand-text text-primary ml-1">{{ coreConfig.app.appName }}</h2></a
    > -->
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="misc-inner d-none d-lg-flex col-lg-6 align-items-center p-5"
    style='width:100%;
    height:100%;
    background-image: url("assets/images/background/background.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;'
    >
      <div class="w-100 text-center">
        <h1 class="mb-1 drop"><strong><font color="#ffffff">FONDO NACIONAL ANTIDROGAS</font></strong></h1>
        <img
        class="img-fluid drop"
        [src]="
          coreConfig.layout.skin === 'dark'
            ? 'assets/images/logos/fona.png'
            : 'assets/images/logos/fona.png'
        "
        alt="Login"
        width="300px"
      />
        <h2 class="mb-1 drop"><strong><font color="#ffffff">Validación de Certificados ✅</font></strong></h2>
        <p class="mb-3 drop"><font color="#ffffff">Ingrese el codigo QR del certificado.</font></p>
        <form class="form-inline justify-content-center row m-0 mb-2" action="javascript:void(0);">
          <input
            class="form-control col-12 col-md-5 mb-1 mr-md-2"
            id="notify-email"
            type="text"
            autocomplete="off"
            placeholder="Ingrese el numero del certificado"
          />
          <button class="btn btn-primary mb-1 btn-sm-block" type="submit" rippleEffect>Verificar</button>
        </form>
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Reset password-->
    <div class="d-flex col-lg-6 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h1 class="card-title font-weight-bold mb-1 text-primary" align="center">
          <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
          <strong>{{ coreConfig.app.appName }}</strong></h1>
        <h2 class="card-title font-weight-bold mb-1" align="center">Restablecer Contraseña</h2>
        <p class="card-text mb-2" align="center"><small>Su nueva contraseña debe ser diferente de las contraseñas utilizadas anteriormente</small></p>
        <form class="auth-reset-password-form mt-2" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="reset-password-new">Nueva contraseña</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                [type]="passwordTextType ? 'text' : 'password'"
                formControlName="newPassword"
                class="form-control form-control-merge"
                placeholder="Nueva contraseña"
                aria-describedby="reset-password-new"
                tabindex="1"
                autofocus
                [ngClass]="{ 'is-invalid error': submitted && f.newPassword.errors }"
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                  ><i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                    (click)="togglePasswordTextType()"
                  ></i
                ></span>
              </div>
            </div>
            <div
              *ngIf="submitted && f.newPassword.errors"
              class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && f.newPassword.errors }"
            >
              <div *ngIf="f.newPassword.errors.required">Confirmar contraseña</div>
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="reset-password-confirm">Confirmar contraseña</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                [type]="confPasswordTextType ? 'text' : 'password'"
                formControlName="confirmPassword"
                class="form-control form-control-merge"
                placeholder="Confirmar contraseña"
                aria-describedby="reset-password-confirm"
                tabindex="2"
                [ngClass]="{ 'is-invalid error': submitted && f.confirmPassword.errors }"
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                  ><i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye-off': confPasswordTextType,
                      'icon-eye': !confPasswordTextType
                    }"
                    (click)="toggleConfPasswordTextType()"
                  ></i
                ></span>
              </div>
            </div>
            <div
              *ngIf="submitted && f.confirmPassword.errors"
              class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && f.confirmPassword.errors }"
            >
              <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
            </div>
          </div>
          <button class="btn btn-primary btn-block" tabindex="3" rippleEffect>Establecer nueva contraseña</button>
        </form>
        <p class="text-center mt-2">
          <!-- <a routerLink="/login"
            ><i data-feather="chevron-left" class="mb-25"></i> Inicio</a
          > -->
          <button class="btn btn-warning btn-block" routerLink="/login" tabindex="3" rippleEffect>Regresar al Inicio</button>
        </p>
        <div class="divider my-2">
          <div class="divider-text">Contáctanos</div>
        </div>
        <div class="auth-footer-btn d-flex justify-content-center">
          <a class="btn btn-facebook" href="https://www.facebook.com/FONAoficial/" target="new"><i data-feather="facebook"></i></a
            ><a class="btn btn-twitter white" href="https://twitter.com/FONA_oficial" target="new"><i data-feather="twitter"></i></a
            >
            </div>
            <br>
          <div class="auth-footer-btn d-flex justify-content-center">
            <p class="text-center mt-2">
              <small align="center">Fondo Nacional Antidrogas - Rif: G-20009057-0
              <br>
              Dirección: Av. Francisco de Miranda, Edif. Centro Empresarial Metropolitano de Automoviles 407, PB. Oficina FONA, Los Ruices (al lado del INCES)
              <br>
              E-mail: <a href="mailto:recaudacion_fona@fona.gob.ve">recaudacion_fona@fona.gob.ve</a> - <a href="mailto:recaudacion_fona@fona.gob.ve">soporteypagos3234@gmail.com</a>
              <br>
              Telf: <a href="Tel:02122329541">0212-2329541 / 2697 / 5522 </a> Ext: 8270-8271 
              </small>
              </p>
        </div>
      </div>
    </div>
    <!-- /Reset password-->
  </div>
</div>
