<div class="card content-wrapper container-xxl p-0">
    <div class="card-body">

      <div class="card-header  justify-content-center">
       <strong><font color="red">Multas, Intereses y Fiscalizaciones a Empresas No Inscritas en el FONA</font></strong>
      </div>
  
      <ul ngbNav #navCenter="ngbNav" class="nav-tabs justify-content-center">
        <li ngbNavItem (click)="DetalleMultasNuevas()">
          <a ngbNavLink>Multas y/o Reparos Pendientes</a>
          <ng-template ngbNavContent>
  
            <section class="users-list-wrapper">
  
              <div class="card">
                <div class="row">
                  <div class="col-md-3 col-12">
                    <div class="d-flex justify-content-between align-items-center m-1">
                      <label class="d-flex align-items-center">Mostrar
                        <select class="form-control mx-25" [(ngModel)]="selectedOption">
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                        Registros</label>
                    </div>
                  </div>
                  <div class="col-md-3 col-12">
                    <div class="d-flex justify-content-between align-items-center m-1">
                      <button type="button" (click)="GenerarMultas(ModalAddRegisterMultas)" class="btn btn-danger"
                        rippleEffect>
                        Generar Multas Empresa No Inscrita</button>
                    </div>
                  </div>
                  <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                    <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                      <label class="d-flex align-items-center ml-1 ml-md-0">Buscar:<input [(ngModel)]="searchValue"
                          name="searchValue" type="search" class="form-control ml-25" placeholder="Nombre Empresa"
                          (keyup)="filterUpdateMIF($event)" (search)="filterUpdateMIF($event)" /></label>
                    </div>
                  </div>
                </div>
                <ngx-datatable [rows]="rowsDetalleMultasNuevas" rowHeight="auto" class="bootstrap core-bootstrap"
                  [limit]="selectedOption" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
                  [scrollbarH]="true">
              
                  <ngx-datatable-column name="Empresa" prop="row" width="auto">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div>
                        <span class="font-weight-bold">{{ row.NombreEmpresa }} - {{ row.Rif }} </span>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
  
                  <ngx-datatable-column name="Tipo Multa" prop="TipoMultaId" [width]="10">
                    <ng-template let-TipoMultaId="value" ngx-datatable-cell-template>
                      <div>
                        <!-- <span class="font-weight-bold">{{ TipoMultaId }} </span> -->
                        <div
                        *ngIf="TipoMultaId == '1'"
                          class="badge badge-pill"
                          ngClass="badge-light-danger">
                          Multas
                        </div>
                        <div
                        *ngIf="TipoMultaId == 2"
                          class="badge badge-pill"
                          ngClass="badge-light-warning">
                          Intereses
                        </div>
                        <div
                        *ngIf="TipoMultaId == 3"
                          class="badge badge-pill"
                          ngClass="badge-light-primary">
                          Fiscalización
                        </div>
                        <div
                        *ngIf="TipoMultaId == 4"
                          class="badge badge-pill"
                          ngClass="badge-light-primary">
                          Pago Complementario
                        </div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  
        
                  <ngx-datatable-column name="Nomenclatura" prop="Nomenclatura_mif" [width]="10">
                    <ng-template let-Nomenclatura_mif="value" ngx-datatable-cell-template>
                      <div>
                        <span class="font-weight-bold">{{ Nomenclatura_mif }} </span>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
        
                  <!-- <ngx-datatable-column name="Fecha" prop="FechaCreo" [width]="10">
                    <ng-template let-FechaCreo="value" ngx-datatable-cell-template>
                      <div>
                        <span class="font-weight-bold">{{ FechaCreo }} </span>
                      </div>
                    </ng-template>
                  </ngx-datatable-column> -->
        
                  <ngx-datatable-column name="Monto" prop="Monto_mif" [width]="10">
                    <ng-template let-Monto_mif="value" ngx-datatable-cell-template>
                      <div>
                        <span class="font-weight-bold">{{ Monto_mif }} </span>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
        
                  <ngx-datatable-column name="Status" prop="status_mif" [width]="10">
                    <ng-template let-status_mif="value" ngx-datatable-cell-template>
                      <div>
                        <!-- <span class="font-weight-bold"> {{ status_mif }} </span> -->
                        <div
                        *ngIf="status_mif == 0"
                          class="badge badge-pill"
                          ngClass="badge-light-warning">
                          Pendiente por Pago
                        </div>
                        <div
                        *ngIf="status_mif == 1"
                          class="badge badge-pill"
                          ngClass="badge-light-success">
                          Pagado
                        </div>
                        <div
                        *ngIf="status_mif == 2"
                          class="badge badge-pill"
                          ngClass="badge-light-info">
                          En Revisión
                        </div>
                        <div
                        *ngIf="status_mif == 3"
                          class="badge badge-pill"
                          ngClass="badge-light-danger">
                          Rechazado
                        </div>
                        <div
                        *ngIf="TipoMultaId == 4"
                          class="badge badge-pill"
                          ngClass="badge-light-primary">
                          Pago Complementario
                        </div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
        
                  <ngx-datatable-column name="Accion" [width]="20" [sortable]="false">
                    <ng-template  ngx-datatable-cell-template let-row="row">
                      <div ngbDropdown container="body">
                        <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                          <span [data-feather]="'settings'" [class]="'cursor-pointer'"></span>
                        </button>
                        <div ngbDropdownMenu>
                          <div>
                            <a (click)="DetalleModal(ModalDetails,row)" ngbDropdownItem *ngIf="row.status_mif == 2"><span
                              [data-feather]="'book-open'"  [size]="16" [class]="'mr-50'"></span> Conciliar Pago</a>
                              <a (click)="DeleteMultasMIF(row)" ngbDropdownItem><span
                                [data-feather]="'trash'" [size]="16" [class]="'mr-50'"></span> Eliminar</a>
                        </div>
                      </div>
                      </div>  
                        </ng-template>
                      </ngx-datatable-column>
        
        
                </ngx-datatable>
              </div>
            </section>
  
          </ng-template>
        </li>
        <li ngbNavItem (click)="mifAprobadas()">
          <a ngbNavLink>Multas y/o Reparos Aprobadas</a>
          <ng-template ngbNavContent>
  
            <section class="users-list-wrapper">
  
              <div class="card">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="d-flex justify-content-between align-items-center m-1">
                      <label class="d-flex align-items-center">Mostrar
                        <select class="form-control mx-25" [(ngModel)]="selectedOption">
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select>
                        Registros</label>
                    </div>
                  </div>
                  <!-- <div class="col-md-3 col-12">
                    <div class="d-flex justify-content-between align-items-center m-1">
                      <button type="button" (click)="GenerarMultas(ModalAddRegisterMultas)" class="btn btn-warning"
                        rippleEffect>
                        Generar Multas</button>
                    </div>
                  </div> -->
                  <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                    <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                      <label class="d-flex align-items-center ml-1 ml-md-0">Buscar:<input [(ngModel)]="searchValue"
                          name="searchValue" type="search" class="form-control ml-25" placeholder="Nombre Empresa"
                          (keyup)="filterUpdateMIF($event)" (search)="filterUpdateMIF($event)" /></label>
                    </div>
                  </div>
                </div>
                <ngx-datatable [rows]="rowsDetalleMultasNuevas" rowHeight="auto" class="bootstrap core-bootstrap"
                  [limit]="selectedOption" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
                  [scrollbarH]="true">
              
                  <ngx-datatable-column name="Empresa" prop="row" width="auto">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div>
                        <span class="font-weight-bold">{{ row.RazonSocial }} - {{ row.Rif }} </span>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
  
                  <ngx-datatable-column name="Tipo Multa" prop="TipoMultaId" [width]="10">
                    <ng-template let-TipoMultaId="value" ngx-datatable-cell-template>
                      <div>
                        <!-- <span class="font-weight-bold">{{ TipoMultaId }} </span> -->
                        <div
                        *ngIf="TipoMultaId == '1'"
                          class="badge badge-pill"
                          ngClass="badge-light-danger">
                          Multas
                        </div>
                        <div
                        *ngIf="TipoMultaId == 2"
                          class="badge badge-pill"
                          ngClass="badge-light-warning">
                          Intereses
                        </div>
                        <div
                        *ngIf="TipoMultaId == 3"
                          class="badge badge-pill"
                          ngClass="badge-light-primary">
                          Fiscalización
                        </div>
                        <div
                        *ngIf="TipoMultaId == 4"
                          class="badge badge-pill"
                          ngClass="badge-light-primary">
                          Pago Complementario
                        </div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
                  
        
                  <ngx-datatable-column name="Nomenclatura" prop="Nomenclatura_mif" [width]="10">
                    <ng-template let-Nomenclatura_mif="value" ngx-datatable-cell-template>
                      <div>
                        <span class="font-weight-bold">{{ Nomenclatura_mif }} </span>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
        
                  <!-- <ngx-datatable-column name="Fecha" prop="FechaCreo" [width]="10">
                    <ng-template let-FechaCreo="value" ngx-datatable-cell-template>
                      <div>
                        <span class="font-weight-bold">{{ FechaCreo }} </span>
                      </div>
                    </ng-template>
                  </ngx-datatable-column> -->
        
                  <ngx-datatable-column name="Monto" prop="Monto_mif" [width]="10">
                    <ng-template let-Monto_mif="value" ngx-datatable-cell-template>
                      <div>
                        <span class="font-weight-bold">{{ Monto_mif }} </span>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
        
                  <ngx-datatable-column name="Status" prop="status_mif" [width]="10">
                    <ng-template let-status_mif="value" ngx-datatable-cell-template>
                      <div>
                        <!-- <span class="font-weight-bold"> {{ status_mif }} </span> -->
                        <div
                        *ngIf="status_mif == 0"
                          class="badge badge-pill"
                          ngClass="badge-light-warning">
                          Pendiente por Pago
                        </div>
                        <div
                        *ngIf="status_mif == 1"
                          class="badge badge-pill"
                          ngClass="badge-light-success">
                          Pagado
                        </div>
                        <div
                        *ngIf="status_mif == 2"
                          class="badge badge-pill"
                          ngClass="badge-light-info">
                          En Revisión
                        </div>
                        <div
                        *ngIf="status_mif == 3"
                          class="badge badge-pill"
                          ngClass="badge-light-danger">
                          Rechazado
                        </div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>
        
                  <ngx-datatable-column name="Accion" [width]="20" [sortable]="false">
                    <ng-template  ngx-datatable-cell-template let-row="row">
                      <div ngbDropdown container="body">
                        <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                          <span [data-feather]="'settings'" [class]="'cursor-pointer'"></span>
                        </button>
                        <div ngbDropdownMenu>
                          <div>
                              <a (click)="GenerarConstancia(row)" ngbDropdownItem><span
                                [data-feather]="'book-open'" [size]="16" [class]="'mr-50'"></span> Generar Constancia</a>
                        </div>
                      </div>
                      </div>  
                        </ng-template>
                      </ngx-datatable-column>
        
        
                </ngx-datatable>
              </div>
            </section>
  
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="navCenter" class="mt-2"></div>
  
    </div>
  </div>
  
  
  
  
  <ng-template #ModalAddRegisterMultas let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Generar Multas a Empresas No Inscritas</h5>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      <!-- Invoice -->
      <div class="col-xl-12 col-md-12 col-12 printRef">
        <!-- Header Starts -->
  
        <div class="row">
  
          <div class="col-12">
            <div class="form-group">
              <label for="basicInput">RIF Empresa</label>
              <input class="form-control" type="text"  [(ngModel)]="ICrearMultasMIF.Rif" [ngModelOptions]="{standalone: true}" placeholder="Rif Empresa"/>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="basicInput">Nombre Empresa</label>
              <!-- <ng-select [items]="ListaEmpresas" [(ngModel)]="ICrearMultasMIF.id_EmpresaId" [ngModelOptions]="{standalone: true}"
                placeholder="Seleccione Empresa" bindLabel="name" bindValue="id" required>
              </ng-select> -->
              <input class="form-control" type="text"  [(ngModel)]="ICrearMultasMIF.NombreEmpresa"  [ngModelOptions]="{standalone: true}" placeholder="Nombre Empresa"/>
            </div>
          </div>
  
          <div class="col-6">
            <div class="form-group">
              <label for="basicInput">Monto de Multa</label>
              <input class="form-control"  [(ngModel)]="ICrearMultasMIF.Monto_mif"  type="number" [ngModelOptions]="{standalone: true}" placeholder="Monto"/>
            </div>
          </div>
          
          <div class="col-6">
            <div class="form-group">
              <label for="basicInput">Nomenclatura</label>
              <input class="form-control" type="text"  [(ngModel)]="ICrearMultasMIF.Nomenclatura_mif" [ngModelOptions]="{standalone: true}" placeholder="Nomenclatura Acta Fiscal y/o Resolucion"/>
            </div>
          </div>
  
  
          <div class="col-12">
            <div class="form-group">
              <label for="basicInput">Seleccione Tipo Planilla</label>
              <ng-select [items]="ListaPlanilla" [(ngModel)]="ICrearMultasMIF.TipoMultaId" [ngModelOptions]="{standalone: true}"
                placeholder="Seleccione Tipo Planilla" bindLabel="name" bindValue="id" required>
              </ng-select>
            </div>
          </div>
  
          <div class="col-md-6 col-12 mb-1">
            <div class="form-group">
              <label for="basicInput">Seleccione Articulo</label>
              <ng-select [items]="SelectArticulo" [(ngModel)]="ICrearMultasMIF.articulo" [ngModelOptions]="{standalone: true}"
                placeholder="Seleccione Articulo" bindLabel="name" bindValue="id" required>
              </ng-select>
            </div>
          </div>
  
          <div class="col-md-6 col-12 mb-1">
            <div class="form-group">
              <label for="basicSelect">Seleccione el Año</label>
              <ng-select [items]="SelectAnioAporte" placeholder="Seleccione Año" bindLabel="name" name="anio"
                autocomplete="off" [(ngModel)]="ICrearMultasMIF.anio" [ngModelOptions]="{standalone: true}" required autocomplete="off">
              </ng-select>
            </div>
          </div>
  
          <div class="col-4">
            <div class="form-group">
              <label for="basicInput">Fecha Inicio Fiscal</label>
              <input class="form-control" type="date"  [(ngModel)]="ICrearMultasMIF.inicio_fiscal" [ngModelOptions]="{standalone: true}" placeholder="Fecha Inicio Fiscal"/>
            </div>
          </div>
  
          <div class="col-4">
            <div class="form-group">
              <label for="basicInput">Fecha Cierre Fiscal</label>
              <input class="form-control" type="date"  [(ngModel)]="ICrearMultasMIF.cierre_fiscal" [ngModelOptions]="{standalone: true}" placeholder="Fecha Cierre Fiscal"/>
            </div>
          </div>
  
          <div class="col-4">
            <div class="form-group">
              <label for="basicInput">Fecha de Notificacion</label>
              <input class="form-control" type="date"  [(ngModel)]="ICrearMultasMIF.notificacion" [ngModelOptions]="{standalone: true}" placeholder="Fecha de Notificacion"/>
            </div>
          </div>
  
        
  
  
        </div>
  
      </div>
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="RegistrarMultasNoIncriptas()" rippleEffect>Generar Multas</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>Cerrar</button>
    </div>
  </ng-template>
  
  
  <ng-template #ModalDetails let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160">Conciliar Pago de Multa  <strong>{{ titleModal }}</strong></h5>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
      <!-- Invoice -->
      <div class="col-xl-12 col-md-12 col-12 printRef">
        <!-- Header Starts -->
  
        <div class="row">
  
          <div class="col-md-12 col-12 mb-1">
            <div class="form-group">
              <label for="basicSelect">Seleccione Banco</label>
              <input type="text" class="form-control" placeholder="Ingrese Banco" autocomplete="off"
                [(ngModel)]="bancoPagoMultas" readonly [ngModelOptions]="{standalone: true}">
            </div>
          </div>
  
          <div class="col-md-6 col-12 mb-1">
            <div class="form-group">
              <label for="basicSelect">Numero de Referencia</label>
              <input type="text" class="form-control" placeholder="Ingrese Numero de Referencia" autocomplete="off"
                [(ngModel)]="xPagarMultas.referencia" readonly [ngModelOptions]="{standalone: true}">
            </div>
          </div>
  
  
  
          <div class="col-xl-6 col-md-6 col-12">
            <div class="form-group">
              <label for="helperText">Fecha de Pago Banco</label>
              <div class="form-group">
                <div class="input-group">
                    <input type="date"  class="form-control" readonly  placeholder="Seleccione la Fecha del Pago a Banco" autocomplete="off"  [(ngModel)]="xPagarMultas.fechaPago" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
          </div>
  
          
  
  
          <div class="col-md-6 col-12 mb-1">
            <div class="form-group">
              <label for="basicSelect"><strong>Monto Total del Aporte</strong></label>
              <input type="text" class="form-control"  readonly autocomplete="off"
                [(ngModel)]="MontoModal" readonly [ngModelOptions]="{standalone: true}">
            </div>
          </div>
  
          <div class="col-md-6 col-12 mb-1">
            <div class="form-group">
              <label for="basicSelect">Monto Pagado a Banco</label>
              <input type="text" class="form-control" readonly placeholder="Ingrese Monto del Pago en Banco" autocomplete="off"
                [(ngModel)]="montoPagadox" [ngModelOptions]="{standalone: true}" required >
            </div>
          </div>  
  
          <div class="col-md-12 col-12 mb-1">
            <div class="form-group">
              <label for="basicSelect">Seleccione Status</label>
              <ng-select [items]="ListaStatusConciliacionMultas" placeholder="Seleccione Status de Conciliacion" bindLabel="name" bindValue="id"
                autocomplete="off" name="bancos" [(ngModel)]="xPagarMultas.status_mif" [ngModelOptions]="{standalone: true}"
                required autocomplete="off">
              </ng-select>
            </div>
          </div>
  
        </div>
  
      </div>
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="MultaConciliacion()" rippleEffect>Conciliar Pago</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Accept click')" rippleEffect>
        Cerrar
      </button>
    </div>
  </ng-template>