@import '@core/scss/base/pages/page-misc.scss';
@import '@core/scss/base/pages/page-misc.scss';

.drop { 
    filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.7));
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    z-index: -1;
  }